results1
results2
results3
results4

perspective.jpg
rotation.png
scale.jpg
result1.png
results2.png
result3.png

source/__pycache__
source/datasets/UCSB
source/representations
source/results
source/samples

source/nasty.py
source/quiver_test.py
source/train_autoencoder.py
source/train_new.py
source/train_resent.py
source/video_maker.py
source/dataloader.py

source/repr8.txt
source/repr16.txt
source/repr32.txt
source/repr64.txt
